
# Interface to Raspberry Pi
#  Inputs
#   Typewriter data and clock
set_io TPR_CLK 19
set_io TPR_DATA 16	

#   Staticisor switch data and clock
set_io S_CLK 15
set_io S_DATA 100

#   Single switches
set_io PS 97
set_io KSP 95
set_io SS 93
set_io KLC 90
set_io KSC 18
set_io WE 89
set_io KCC 99

#   Debug
set_io CLK 91

#  Outputs
#   Stop Lamp
set_io SL 12

#   Display Tubes
#set_io DISP_CLK 99
set_io DISP_DATA[0] 96
set_io DISP_DATA[1] 94

#   Debug
set_io OSC 87

# Interface to IceBlink components
#set_io CLK 13
set_io LEDS[0] 59
set_io LEDS[1] 56
set_io LEDS[2] 53
set_io LEDS[3] 51
#set_io BTNS[0] 60
#set_io BTNS[1] 57
#set_io BTNS[2] 54
#set_io BTNS[3] 52

